html {
  background-color: #9ba895;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
}

.parent {
  height: 100vh;
  display: grid;
  grid-template-areas: "header" "nav" "main" "footer";
}


/* HEADER */ 

header {
  grid-area: header;
}

.header {
  background-color: #82947a;
  display: flex;
  justify-content: center;
}


/* NAVIGATION */

nav {
  background-color: #82947a;
  grid-area: nav;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navigation a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
  margin: 0;
}


/* MAIN */

main {
  grid-area: main
}


/* FOOTER */

footer {
  grid-area: footer;
  background-color: #82947a;
  padding: 10px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer li {
  text-align: left;
}

footer a {
  text-decoration: none;
  color: black;
}

.footercontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


/* INDEX */

.index {
  background-color: #9ba895;
  display: flex;
  gap: 10px;
  margin: 10px;
}


/* IMPRESSIE */

.impressie {
  background-color: #9ba895;
  margin: 10px;
}

.fotocontainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
}


/* BOEKEN */

.boeken {
  background-color: #9ba895;
  margin: 10px;
}

.container1 {
  display: grid;
  grid-gap: 10px;
}

.container2 {
  display: grid;
  grid-template-columns: 210px 210px;
  grid-gap: 10px;
}


/* CONTACT */

.contact {
  background-color: #9ba895;
  margin: 10px;
}


/* MEDIA */

@media only screen and (min-width: 800px) {
  .parent {
    grid-template-columns: 150px 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      "header header"
      "nav main"
      "nav footer";
  }

  .navigation {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
}


@media only screen and (max-width: 450px) {
  .parent {
    grid-template-columns: 1fr;
    grid-template-rows: 120px auto auto auto;
    grid-template-areas: 
      "header"
      "nav"
      "main"
      "footer";
  }
  
  main {
    border-bottom: 2px dotted black;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px dotted black;
  }

  h3 {
    text-align: center;
  }

  .footercontainer {
    display: flex;
    flex-direction: column;
  }
}